{% extends "bootstrap/base.html" %}

{% block content %}
<html>
  <head>
    <title>Welcome to Employee Information Page!</title>
  </head>
  <body>
    <h1 style="color:blue;">Employee Information</h1>
    <table class="table  table.striped table.bordered">
    <thead class="bg.success">
        <tr style="color:purple;">
          <td>  EmpID  </td>
          <td>  EmpName  </td>
          <td>  EmpGender  </td>
          <td>  EmpPhone  </td>
          <td>  EmpBdate  </th=d>
        </thead>
        
	<tr>
		<td>0001</td>
		<td>Joe</td>
		<td>M</td>
		<td>x234</td>
		<td>1/11/1985</td>
	</tr>
	<tr>
                <td>0002</td>
                <td>Sue</td>
                <td>F</td>
                <td>x345</td>
                <td>2/7/1983</td>
        </tr>
	<tr>
                <td>0003</td>
                <td>Amy</td>
                <td>F</td>
                <td>x456</td>
                <td>8/4/1990</td>
        </tr>
	<tr>
                <td>0004</td>
                <td>Pat</td>
                <td>F</td>
                <td>x567</td>
                <td>3/8/1971</td>
        </tr>
	<tr>
                <td>0005</td>
                <td>Mike</td>
                <td>M</td>
                <td>x678</td>
                <td>5/5/1965</td>
        </tr>
	<tr>
                <td>0010</td>
                <td>Mike</td>
                <td>M</td>
                <td>x666</td>
                <td>8/1/1974</td>
        </tr>
	<tr>
                <td>0007</td>
                <td>Barbara</td>
                <td>F</td>
                <td>x777</td>
                <td>4/5/1980</td>
        </tr>
	<tr>
                <td>0011</td>
                <td>Ivan</td>
                <td>M</td>
                <td>x777</td>
                <td>3/4/1981</td>
        </tr>
	<tr>
                <td>0009</td>
                <td>Amy</td>
                <td>F</td>
                <td>x777</td>
                <td>1/11/1985</td>
        </tr>


    </table>
 <a href="/">Go back to home page</a>
 {% endblock %}
  </body>
</htm>
 
